.content {
    display: flex;
    flex-direction: column;
    /* row-gap: 30px; */
    align-items: flex-start;
    /* background: skyblue; */
    width: 100%;
    /* height: 100%; */
}

/* ================================================ */
.title_bg {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    padding-left: 3%;
    margin-bottom: 3%;
    column-gap: 2%;
    width: 100%;
    height: 70px;
    /* background: pink; */
}

.section_title_bg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    column-gap: 2%;
    width: 100%;
    height: 30px;
    /* background: white; */
}

.title {
    color: black;
    font-weight: bold;
    font-size: larger;
    /* padding-top: 3%; */
}

.title_exp {
    color: grey;
    font-weight: normal;
    font-size: small;
    /* padding-top: 3%; */
}

.section_title {
    color: black;
    font-weight: bold;
    font-size: medium;
}

.section_title_exp {
    color: grey;
    font-weight: normal;
    font-size: small;
}

.moving_page{
    color: blue;
    font-weight: normal;
    font-size: small;
}

.section_bg {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 10px;
    margin-left: 3%;
    margin-bottom: 5%;
    width: 80%;
    /* height: 100%; */
    /* background: darkkhaki; */
}

/* ================================================ */

.studentinfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    column-gap: 5%;
    width: 100%;
    /* height: 100%; */
    /* background: rgb(137, 137, 165); */
}

.studentinfo_data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 5%;
    width: 100%;
    /* height: 30%; */
    /* background: rgb(178, 178, 243); */
}

.studentinfo_image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    /* column-gap: 1%; */
    width: 20%;
    height: 100%;
}

.studentinfo_1 {
    flex-grow: 1;
    flex-basis: 1px;
    margin-bottom: 3%;
}

.studentinfo_2 {
    flex-grow: 4;
    flex-basis: 1px;
    margin-bottom: 3%;
}

.studentinfo_3 {
    color: grey;
    flex-grow: 3;
    flex-basis: 1px;
    margin-bottom: 3%;
}

/* ================================================ */

.changepw {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    column-gap: 1%;
    width: 100%;
    /* height: 100%; */
    /* background: rgb(137, 137, 165); */
}

.changepw_1 {
    flex-grow: 2;
    flex-basis: 1px;
    margin-bottom: 1%;
}

.changepw_2 {
    flex-grow: 7;
    flex-basis: 1px;
    margin-bottom: 1%;
}

.changepw_3 {
    flex-grow: 1;
    flex-basis: 1px;
    margin-bottom: 1%;
}

/* ================================================ */

.deleteaccount_1 {
    color: grey;
    font-weight: normal;
    font-size: medium;
    flex-grow: 3;
    flex-basis: 1px;
}

.deleteaccount_2 {
    flex-grow: 1;
    flex-basis: 1px;
}

/* ================================================ */

.learninginfo_bg {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    row-gap: 30px;
    /* height: 100%; */
    /* background: white; */
}

.learninginfo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
    /* background: grey; */
}

.attendance {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 1%;
    width: 100%;
    /* height: 100%; */
    /* background: rgb(137, 137, 165); */
}

.attendance_item {
    display: flex;
    flex-basis: 1px;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    /* width: 20%; */
    /* margin-top: 10px; */
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #F8F8F8;
}

.attendance_black {
    color: black;
}

.attendance_blue {
    color: blue;
}

.attendance_red {
    color: red;
}

.lecture {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    /* height: 100%; */
    padding: 15px;
    background: white;
    border-style : solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

.lecture_name {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    /* height: 100%; */
}

.lecture_name_1 {
    flex-grow: 2;
    flex-basis: 1px;
    /* background: skyblue; */
    color: black;
    font-weight: bold;
    font-size: medium;
}

.lecture_name_2 {
    flex-grow: 1;
    flex-basis: 1px;
    /* background: pink; */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.lecture_open {
    font-size: small;
    padding-left: 5px;
    padding-right: 5px;
    border-style : solid;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
}

.lecture_prof {
    color: grey;
    font-weight: normal;
    font-size: small;
}

.lecture_id {
    color: grey;
    font-weight: normal;
    font-size: x-small;
}

/* ================================================ */

.selectlecture_bg {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    /* row-gap: 20px; */
    /* height: 100%; */
    /* background: white; */
}

/* ================================================ */

.objection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    column-gap: 1%;
    /* height: 100%; */
    /* background: rgb(137, 137, 165); */
}

.objection_1 {
    flex-grow: 5;
    flex-basis: 1px;
    margin-bottom: 1%;
}

.objection_2 {
    flex-grow: 2;
    flex-basis: 1px;
    margin-bottom: 1%;
}

.objection_3 {
    color: blue;
    flex-grow: 2;
    flex-basis: 1px;
    margin-bottom: 1%;
}

/* ================================================ */

.grade {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 1%;
    width: 100%;
    /* height: 100%; */
    /* background: rgb(137, 137, 165); */
}

.grade_item {
    display: flex;
    flex-basis: 1px;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    /* width: 20%; */
    margin-top: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #F8F8F8;
}

.grade_1 {
    color: black;
}

.grade_2 {
    color: blue;
}

.gradegraph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    /* height: 100%; */
    /* background: rgb(137, 137, 165); */
}

.add_lecture {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2%;
    margin-left: 5%;
    width: 60%;
    color: blue;
    font-weight: bold;
    font-size: small;
    /* background: red; */
}

/* ================================================ */

.testgrade {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 1%;
    width: 100%;
    /* height: 100%; */
    /* background: rgb(137, 137, 165); */
}

.testgrade_item {
    display: flex;
    flex-basis: 1px;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    /* width: 20%; */
    /* margin-top: 10px; */
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #F8F8F8;
}

.testgrade_black {
    color: black;
}

.testgrade_blue {
    color: blue;
}

.testgrade_red {
    color: red;
}

.testgrade_grey {
    color: grey;
}

/* ================================================ */

.submitted {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    column-gap: 1%;
    /* height: 100%; */
    /* background: rgb(137, 137, 165); */
}

.submitted_1 {
    flex-grow: 5;
    flex-basis: 1px;
    margin-bottom: 1%;
}

.submitted_2 {
    flex-grow: 2;
    flex-basis: 1px;
    margin-bottom: 1%;
}