.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    background: #414E5A;
    color: #FFFFFF;
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    width: 100%;
    height:30%;
    /* height: 250px;    
    height: 35vh; */
}

.main {
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    color: #4C4C4C;
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    width: 100%;
    height: 70%;
    /* height: 65vh; */
}
