.container {
    width: 100vw;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 8%;
    background: #60656e;
    color: white;
}

.navbar_side {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 100px;
}

.navbar_center {
    flex-grow: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100px;
}

.navbar_title {
    padding: 5px; 
    width: 60%;
    text-align: center;
    background: #f0f0f0;
    color: black;
    border-radius: 5px;
}

.main {
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: row;
    background: #bdbdbd;
    column-gap: 3px;
}

.leftsidebar {
    display: flex;
    flex-direction: column;
    background: red;
    order: 1;
    width: 30%;
}

.codingbox {
    display: flex;
    background: yellow;
    flex-direction: column;
    order: 2;
    width: 40%;
}

.rightsidebar {
    display: flex;
    flex-direction: column;
    background: blue;
    order: 3;
    width: 30%;
}