.codingbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background: white;
    row-gap: 5px;
}

.border {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 95%;
    height: 90%;
    border: 2px solid #bdbdbd;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.section_title {
    color: black;
    background-color: white;
    padding: 10px;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
}