.leftsidebar {
    display: 'flex';
    flex-direction: 'column';
    width: '100%';
    height: '100%';
    background: 'white';
    row-gap: '10px';
}

.problem {
    display: 'flex';
    flex-direction: 'column';
    background: "white";
    height: '50%';
}

.testcase{
    display: 'flex';
    flex-direction: 'column';
    background: "white";
    height: '50%';
}

.section_title{
    background: "#414E5A";
    color: "white";
}